<div class="main-content-freestyle flexed-item big-container">

    {{!-- CATEGORY --}}
    <aside class="highlight-wrapper">
        <h4 class="highlight-title">Highlighted</h4>
        {{#each highlighted}}
        <div class="highlight-list-item">
            <div>{{> highlight_mini}}</div>
        </div>
        {{/each}}

    </aside>

    {{!-- freestyle--}}
    <section class="freestyle-wrapper">
        <div class="freestyle-infos">
            <h4 class="freestyle-title">

                Freestyles
            </h4>
        </div>
        {{#unless freestyles}}
        <p>Sorry, no freestyles yet !</p>
        {{/unless}}


        <div id="freestyle_grid" class="freestyle-grid flexed-item">
            {{#each freestyles}}
            {{> freestyle_mini }}
            {{/each}}
        </div>
    </section>
</div>