<div class="dashboard-infos">
    <h4 class="dashboard-title">
        Your videos
    </h4>
</div>

<section class="dashboard-wrapper">


    <div id="dashboard_grid" class="dashboard-grid flexed-dash">

        {{#each freestyles}}

        {{> dashboard_videos}}

        {{/each}}

        {{#unless freestyles}}
        <p>no freestyles</p>
        {{/unless}}

    </div>
</section>