<div class="big-container freestyle-manage-wrapper flexed-item ">
    <form action="/send-freestyle" method="post" class="send-freestyle-form" enctype="multipart/form-data">
        {{!-- {{#if msg}}
        <p class="msg {{msg.status}}">{{msg.txt}}</p>
        {{/if}} --}}
        <h3 class="form-title">Send your freestyle</h3>
        <div class="form-item-wrapper flexed-item">
            <label for="freestyle-title" class="label-name label">What is the name of your freestyle?</label>
            <input id="freestyle-title" type="text" name="title" class="input-text input" placeholder="Title"
                value="Spitting fire">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="freestyle-descr" class="label-descr label">Description</label>
            <input id="freestyle-descr" type="text" name="description" class="input-text input"
                placeholder="Describe your freestyle" value="Representing Brooklyn">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="social-media" class="label">Plug one of your socials</label>
            <input id="social-media" type="text" name="social" class="sneaker-price input" value="Instagram @Yung devo">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="video-file" class="label">Video</label>
            <input id="video-file" type="text" name="url" class="sneaker-price input"
                value="https://www.youtube.com/watch?v=vHU6ZRQJ50Q&ab_channel=JColeVEVO">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="image-file" class="label">Image</label>
            <input id="image-file" type="file" name="image" class="sneaker-price input">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="style" class="label">Style</label>
            <input id="style" type="text" name="style" class="sneaker-price input" value="Drill">
        </div>
        <button class="button-primary add-sneaker-btn">Send my freestyle</button>
    </form>
</div>