.network {
  color: rgb(133, 7, 7);
  text-decoration: underline;
}

.btn-textt {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.btn {
  background-color: black;
  border: none;
  border-radius: 5%;
  padding: 8px;
}

.dashboard-wrapper {
  width: 100%;
  padding: 1rem 30%;
  border: black;
  font-size: 1.5em;
}

.dashboard-infos {
  margin-top: 2rem;
}

h4.dashboard-title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.dashboard-grid {
  flex-wrap: wrap;
}

.squarel {
  position: relative;
  width: 100%;
}

#squarel:after {
  content: "";
  display: block;
}

.dashboard-heading {
  text-decoration: none;
}

#dashboard-wrapper {
  text-align: center;
  margin-top: 55px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* iframe test */

.iframepub {
  height: 80vh;
  width: 80vw;
}

.profile {
  margin: 50px;
  text-align: center;
  font-size: 1.5em;
}

.profile-title {
  font-weight: bold;
}

.iframeboard {
  height: 40vh;
  width: 40vw;
}
