aside.highlight-wrapper {
  width: 17%;
  padding: 2rem 1.5%;
}

.highlight-title {
  font-size: 1rem;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
}

.highlight-list-item {
  color: black;
  cursor: pointer;
  line-height: 1.7;
  position: relative;
  width: 100%;
}

/* /////// TARGETING IN INDEX HBS FILE  ////// */

.freestyle-wrapper {
  width: 77%;
  padding: 2rem 1.5%;
}

.freestyle-infos {
  margin-bottom: 2rem;
}

h4.freestyle-title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.freestyle-grid {
  flex-wrap: wrap;
}

/* /////// TARGETING IN INDEX HBS FILE  ////// */

#freestyle-wrapper {
  cursor: pointer;
  width: 20%;
  margin-right: 2%;
  margin-bottom: 2%;
  display: inline-block;
}

.freestyle-wrapper a {
  color: black;
}

.freestyle-heading {
  text-decoration: none;
}

.btns {
  color: black;
  text-decoration: underline;
}

.square {
  position: relative;
  width: 100%;
}

#square:after {
  content: "";
  display: block;
}

.image-style {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

.image-style img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
