aside.tag-wrapper {
  width: 17%;
  padding: 2rem 1.5%;
}

.tag-title {
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
}

.tag-list-item {
  color: rgb(151, 151, 151);
  cursor: pointer;
  line-height: 1.7;
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 0.4rem;
}

.freestyle-wrapper {
  width: 77%;
  padding: 2rem 1.5%;
}

.freestyle-infos {
  margin-bottom: 2rem;
}

h4.freestyle-title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.freestyle-grid {
  flex-wrap: wrap;
}

.freestyle-item-wrapper {
  cursor: pointer;
  width: 20%;
  margin-right: 4%;
  margin-bottom: 4%;
  transition: all 0.2s ease-in;
}

.freestyle-item-wrapper:hover {
  box-shadow: inset 0 -3px 0 0 #111;
}
.freestyle-img {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 100%;
}

.freestyle-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.freestyle-name {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  text-decoration: none;
  color: black;
}

.freestyle-cat {
  color: rgb(151, 151, 151);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  text-decoration: none;
  color: black;
}
