aside.tag-wrapper {
  width: 17%;
  padding: 2rem 1.5%;
}

.tag-title {
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
}

.tag-list-item {
  color: rgb(151, 151, 151);
  cursor: pointer;
  line-height: 1.7;
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 0.4rem;
}

/* /////// TARGETING IN INDEX HBS FILE  ////// */

.freestyle-wrapper {
  width: 77%;
  padding: 2rem 1.5%;
}

.freestyle-infos {
  margin-bottom: 2rem;
}

h4.freestyle-title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.freestyle-grid {
  flex-wrap: wrap;
}

/* /////// TARGETING IN INDEX HBS FILE  ////// */

#freestyle-wrapper {
  position: relative;
  width: 50%;
}

#freestyle-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-style {
  height: 100%;
  width: 100%;
  position: relative;
}

.freestyle-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
