<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/main.css">
<meta id="site_url" http-equiv="X-UA-Compatible" content="ie=edge" data-url="{{site_url}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
{{#each scripts}}
<script src="/scripts/{{this}}" type="module"></script>
{{/each}}
<title>NewTalent</title>