<h1>Hello</h1>
<div id="freestyle-wrapper">

    <div class="square">
        <p class="freestyle-heading">{{this.title}}</p>
        <p class="freestyle-heading">{{this.style}}</p>
        <a href="/publication/{{this._id}}">
            <div class="image-style" style="background-image: url({{this.image}})"></div>
        </a>
    </div>
</div>