<div id="container-highlight">
    <div class="square ">
        <a href="/publication/{{this._id}}">
            <div class="image-style" style="background-image: url({{this.image}})">
                <p class="img-description bg-black">{{this.title}}</p>
            </div>
        </a>
    </div>
</div>