{{!-- HEADER --}}

{{!-- END HEADER --}}
<div class="big-container">
    <header class="header">
        <nav class="nav-wrapper flexed-item">
            <div class="nav-link-wrapper flexed-item">
                <div class="nav-logo">
                    <a href="/" class="flexed-item">
                        <h2 class="logo-item">Freestyle it !</h2>
                    </a>
                </div>
                <ul class="nav-link flexed-item">
                    <li class="nav-item animated-link">
                        <a href="/">Home</a>
                    </li>
                    {{#if isAdmin}}
                    <li class="nav-item animated-link">
                        <a href="/dashboardAll">All Videos</a>
                    </li>
                    {{/if}}

                    {{#if isLoggedIn}}
                    <li class="nav-item animated-link">
                        <a href="/profile">Profile</a>
                    </li>
                    <li class="nav-item animated-link">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item animated-link nav-item-admin">
                        <a href="/send-freestyle">Send my freestyle</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <div class="flexed-item nav-end">
                {{#unless isLoggedIn}}
                <a href="/signup" id="nav_login" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Sign up</span>
                </a>
                <a href="/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Sign in</span>
                </a>
                {{/unless}}

                {{#if isLoggedIn}}
                <a href="/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Log out</span>
                </a>
                {{/if}}
            </div>
        </nav>
    </header>
</div>